[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=harbour-walking
Exec=harbour-walking
Name=Harbour Walking
Name[ru]=Harbour Walking
